*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Toggler */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: rgb(255,102,203);
  } 
.card{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}

.wrapper-main {
    background-image: url(./images/hero-background.jpg);
    background-size: cover;
    background-position: center; 
}

/* Hero Section */
/* .hero{
    height: 31vh;  
    width: 95vw;  
    padding-top: 5%;  
} */

/* Team Members */
.image-cover {
    width: 200px;
    height: 200px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);  
}
.card-title{
    color: #36EEE0;
    font-size: 1em;
}
.card-subtitle{
    color: #F652A0;
    font-weight: 400;
    font-size: 12px; 
}
.card-text{
    color: #4C5270;
}

/*============================ Responsiveness ==================== */
/*x-Large devices (Large Laptops & 4K, 1500px and up)
Team Members */
/* @media (min-width: 1498.98px) {
   
} */

/*Large devices (tablets, 993px and up)
Team Members */

@media (min-width: 992.98px) {
    .btn{
        margin-bottom: 1rem;
    }
}

/*Medium devices (tablets, 768px and up)
Team Members */

@media (max-width: 992px) {
    .team-member{
        padding-bottom: 12px;
    }
    .image-cover { 
    width: 100px;
    height: 100px;  
    }  

    .card-subtitle{
        color:  #F652A0;
        font-weight: 400;
        font-size: 10px; 
    } 

    .btn{
        display:block;
        margin-bottom: 10px;
    }
}

/*Small devices (mobile phone, less than 768px )
Team Members */

@media (max-width: 767.98px) {
    .team-member{
        padding-bottom: 14px;
    }
}
/*x-Small devices (mobile phone, less than 576px )
Team Members */

@media (max-width: 575.98px) {
    .team-member{
        padding-bottom: 10px;
    }
    .hero h1 {
       font-size: larger;
       font-weight: bold;
    }
    .hero p {
        font-size: medium;
    }

    th,td {
        font-size: small;
    }
}

@media (max-width: 426.98px) {
    th,td {
        font-size: small;
    }
}